
body{
    background-color:black;
}

.widthLine{
    background-color:white;
    width:100%;
    position : absolute;
    height:1px;
}
.heightLine{
    background-color:white;
    width:1px;
    position : absolute;
    height:100%;
}

.target {
    transform: translate(-50%, -50%);
    position: absolute;
}

.coordtext {
    position : absolute;
    transform : translate(30%,0%);
}